* {
  box-sizing: border-box;
}

/* html,
body {
  height: 100%;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f7ffff;
}

.header {
  max-width: 1000px;
  margin: 0 auto;
  padding: 23px;
  /* margin-top: 23px; */

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__icon {
  transform: rotate(90deg);
  font-size: 20px;
}

hgroup {
  display: flex;
  align-items: center;
}

hgroup .header__title-icon {
  font-size: 20px;
}

hgroup .header__title {
  text-transform: uppercase;
}

.header__title span:first-child {
  font-weight: 400;
}

.gallery__wrapper {
  background-color: #efeff7;
}

.gallery__grid {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;

  padding: 19px 55px;

  display: grid;
  grid-gap: 23px;

  grid-template-columns: repeat(3, 1fr);
  /* grid-auto-flow: column; */

  grid-auto-rows: 160px;
}

.gallery__img {
  box-shadow: 0px 6px 11px -2px rgba(0, 0, 0, 0.75);
}

.gallery__img:first-child {
  background-image: url(https://i.pinimg.com/564x/b3/88/aa/b388aa928148a5deed036c619a4ad838.jpg);
  background-size: cover;
}

.gallery__img:nth-child(2) {
  background-image: url(https://i.pinimg.com/564x/db/d7/0a/dbd70a54dbb62e4ef90fe0d116ba1534.jpg);
  background-size: cover;
}

.gallery__img:nth-child(3) {
  background-image: url(https://i.pinimg.com/564x/b5/60/99/b56099aa0dc0860c8c7ed963cec8cec8.jpg);
  background-size: cover;
}

.intro__grid {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;

  padding-top: 31px;
  padding-right: 23px;
  padding-left: 55px;

  display: grid;
  grid-template-columns: 1fr 1fr max-content;

  grid-gap: 89px;
}

.intro__grid .intro__article .article__header {
  text-transform: uppercase;
  font-size: 0.9rem;
}

.intro__article .article__basic-metas {
  padding-top: 13px;
  display: flex;
  font-size: 0.5rem;
}

.article__basic-metas .meta-data {
  padding-right: 17px;
}

.article__basic-metas .meta-data .meta-title {
  font-weight: 600;
  display: block;
}

.article__paragraph {
  font-size: 0.5rem;
  color: #bdbdbd;
}

a {
  text-decoration: none;
  color: inherit;
}

.back__sign {
  /* display: flex;
    align-items: center; */
  text-transform: uppercase;
  font-size: 0.5rem;
  font-weight: 600;
  border-bottom: 1px solid #3f51b5;
}

.intro__right {
  display: grid;
  grid-template-rows: repeat(auto-fill, max-content);
  grid-gap: 23px;
}

.language__column {
    display: flex;
    align-items: flex-end;
    /* justify-content: flex-end; */
}

.intro__language {
    transform: rotate(-90deg);
}

.intro__language span {
    text-transform: uppercase;
    font-size: 0.5rem;
    color: #bdbdbd;
}

.intro__language .language--selected {
    color: black;
}